@using BooksWeb.ViewModels;
@section NavPartial
    {
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Register" asp-action="Index">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
    </li>
        }

@model LoginViewModel

<div class="split-container">
    <div class="left-side" style="margin-top:100px;">
        <h1 style="color: rgb(62, 188, 234); text-align:center; margin:20px 40%;">Login</h1>
        <form id="LoginForm" method="POST">
            <input type="email" id="email" name="email" value="" placeholder="Email" required class='form-control' />
            <br>
            <input type="password" id="password" name="password" value="" placeholder="Password" required class='form-control' />
            <br>
            <input class='btn btn-primary form-control' type="submit" value="Login" onclick="" asp-controller="Login" asp-action="Validate" />
            <p style="text-align:center; margin-left:5%"> New Here? <a asp-controller="Register" asp-action="Index">Register Now</a></p>
        </form>
    </div>
    <div class="right-side">
        <img class="image" src="~/images/ReadingBook2.jpg" alt="Image">
    </div>
</div>

@* <div class="content" id="test">
    <h1 style="color: rgb(62, 188, 234);">Login</h1>
    <form id="LoginForm" method="POST">
        <input type="email" id="email" name="email" value="" placeholder="Email" required class='form-control' />
        <br>
        <input type="password" id="password" name="password" value="" placeholder="Password" required class='form-control' />
        <br>
        <input class='btn btn-primary form-control' type="submit" value="Login" onclick="" asp-controller="Login" asp-action="Validate" />
        <p> New Here? <a asp-controller="Register" asp-action="Index">Register Now</a></p>
    </form>
</div> *@